@model DataCore.Models.Dtos.AllDepartmentsExams
@{
    ViewData["Title"] = "ExamScore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#science">Science</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#commercial">Commercial</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#art">Art</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div id="science" class="container tab-pane active">
        @if (Model.ScienceExams.Count == 0)
        {
            <h2 class="text-center opacity-50 p-t-3em">No science student</h2>
        }
        else
        {
            @if (Model.ScienceExams[0].Exams.Count == 0)
            {
                <h2 class="text-center opacity-50 p-t-3em">Exam score not yet uploaded</h2>
            }
            else
            {
                <h1 class="text-center p-t-3em">Exam Scores</h1>
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <td>Name</td>
                            @foreach (var Exam in Model.ScienceExams[0].Exams)
                            {
                                <td>@Exam.DepartmentSubject.Subject.Name</td>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var StudentExam in Model.ScienceExams)
                        {
                            <tr>
                                <td>@StudentExam.StudentName</td>
                                @foreach (var Exam in StudentExam.Exams)
                                {
                                    <td>@Exam.Score</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }

    </div>
    <div id="commercial" class="container tab-pane fade">
        @if (Model.ScienceExams.Count == 0)
        {
            <h2 class="text-center opacity-50 p-t-3em">No science student</h2>
        }
        else
        {
            @if (Model.CommercialExams[0].Exams.Count == 0)
            {
                <h2 class="text-center opacity-50 p-t-3em">Exam score not yet uploaded</h2>
            }
            else
            {
                <h2 class="text-center p-t-3em">Exam Scores</h2>
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <td>Name</td>
                            @foreach (var Exam in Model.CommercialExams[0].Exams)
                            {
                                <td>@Exam.DepartmentSubject.Subject.Name</td>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var CommercialExam in Model.CommercialExams)
                        {
                            <tr>
                                <td>@CommercialExam.StudentName</td>
                                @foreach (var Exam in CommercialExam.Exams)
                                {
                                    <td>@Exam.Score</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }

    </div>
    <div id="art" class="container tab-pane fade">
        @if (Model.ScienceExams.Count == 0)
        {
            <h2 class="text-center opacity-50 p-t-3em">No science student</h2>
        }
        else
        {
            @if (Model.ArtExams[0].Exams.Count == 0)
            {
                <h2 class="text-center opacity-50 p-t-3em">Exam score not yet uploaded</h2>
            }
            else
            {
                <h1 class="text-center">Exam Scores</h1>
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <td>Name</td>
                            @foreach (var Exam in Model.ArtExams[0].Exams)
                            {
                                <td>@Exam.DepartmentSubject.Subject.Name</td>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ArtExam in Model.ArtExams)
                        {
                            <tr>
                                <td>@ArtExam.StudentName</td>
                                @foreach (var Exam in ArtExam.Exams)
                                {
                                    <td>@Exam.Score</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }

    </div>
</div>