@model IEnumerable<School.Models.Parent>

@{
    ViewData["Title"] = "Students";
}

<h1 class="text-center">Parents </h1>

<a class="btn btn-primary float-right m-4" asp-action="Create">Create New</a>
<table id="table" class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FullName)</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.FullName) </a>
                </td>

            </tr>
        }
    </tbody>
</table>
@section Styles{
    <link rel="stylesheet" href="~/lib/Datatables/media/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/lib/Datatables/media/css/dataTables.bootstrap4.css" />
    @if ((bool)ViewData["Istoast"])
    {
        <link rel="stylesheet" href="~/lib/VanillaToasts/vanillatoasts.css" />
    }
}

@section Scripts{
    <script src="~/lib/Datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/Datatables/media/js/dataTables.bootstrap4.js"></script>
    <script>
        $(document).ready(function () {
            $('#table').DataTable();
        });
    </script>
    @if ((bool)ViewData["isToast"])
    {
        <script src="~/lib/VanillaToasts/vanillatoasts.js"></script>
        <script>
            $(function () {
                VanillaToasts.create({
                title: '@ViewData["toastTitle"]',
                text: '@ViewData["toastText"]',
                type: '@ViewData["toastType"]',
                timeout: '7000',
                callback: function() { }
               });
            })


        </script>
    }

}