@model School.Models.Dtos.AllDepartmentsTests
@{
    ViewData["Title"] = "ExamScore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#science">Science</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#commercial">Commercial</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#art">Art</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div id="science" class="container tab-pane active">
        @if (Model.ScienceTests.Count == 0)
        {
            <h2 class="text-center opacity-50 p-t-3em">No science student</h2>
        }
        else
        {
            @if (Model.ScienceTests[0].Tests.Count == 0)
            {
                <h2 class="text-center opacity-50 p-t-3em">Test score not yet uploaded</h2>
            }
            else
            {
                <h1 class="text-center p-t-3em">Exam Scores</h1>
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <td>Name</td>
                            @foreach (var test in Model.ScienceTests[0].Tests)
                            {
                                <td>@test.DepartmentSubject.Subject.Name</td>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var StudentTest in Model.ScienceTests)
                        {
                            <tr>
                                <td>@StudentTest.StudentName</td>
                                @foreach (var test in StudentTest.Tests)
                                {
                                    <td>@test.Score</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }

    </div>

    <div id="commercial" class="container tab-pane fade">
        @if (Model.CommercialTests.Count == 0)
        {
            <h2 class="text-center opacity-50 p-t-3em">No commercial student</h2>
        }
        else
        {
            @if (Model.CommercialTests[0].Tests.Count == 0)
            {
                <h2 class="text-center opacity-50 p-t-3em">Test score not yet uploaded</h2>
            }
            else
            {
                <h2 class="text-center p-t-3em">Exam Scores</h2>
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <td>Name</td>
                            @foreach (var test in Model.CommercialTests[0].Tests)
                            {
                                <td>@test.DepartmentSubject.Subject.Name</td>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var CommercialTest in Model.CommercialTests)
                        {
                            <tr>
                                <td>@CommercialTest.StudentName</td>
                                @foreach (var test in CommercialTest.Tests)
                                {
                                    <td>@test.Score</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }

    </div>
    <div id="art" class="container tab-pane fade">
        @if (Model.ArtTests.Count == 0)
        {
            <h2 class="text-center opacity-50 p-t-3em">No art student</h2>
        }
        else
        {
            @if (Model.ArtTests[0].Tests.Count == 0)
            {
                <h2 class="text-center opacity-50 p-t-3em">Test score not yet uploaded</h2>
            }
            else
            {
                <h1 class="text-center">Exam Scores</h1>
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <td>Name</td>
                            @foreach (var test in Model.ArtTests[0].Tests)
                            {
                                <td>@test.DepartmentSubject.Subject.Name</td>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ArtTest in Model.ArtTests)
                        {
                            <tr>
                                <td>@ArtTest.StudentName</td>
                                @foreach (var test in ArtTest.Tests)
                                {
                                    <td>@test.Score</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }

    </div>
</div>