@model School.Models.ViewModels.ClassDetailsViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="">@Model.Class.Name</h1>
<div class="row">
    <div class="row justify-content-around col-md-8 mb-2">
        <div class="col-4">
            <div class="m-1 jumbotron2 bg-white class-details-item">
                <p>@Model.Class.Teacher.FullName</p>
                <p>Teacher</p>
            </div>
        </div>
        <div class="col-4">
            <div class="m-1 jumbotron2 bg-white class-details-item">
                <h1>@Model.NumberOfStudents</h1>
                <p>Numer of students</p>
            </div>
        </div>
        <div class="col-4">
            <div class="m-1 jumbotron2 bg-white class-details-item ">
                <h1 class="font-weight-bold ">@Model.AverageAge</h1>
                <p>Average Age</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 student-side">
        <h2>Students</h2>
        <table class="table table-stripped table-hover table-bordered">
            <tr>
                <th>Student Name</th>
                <th>Attendance</th>
            </tr>
            @foreach (var student in Model.Students)
            {
                string Presence = "No attendance taken";
                Attendance attendance = student.Atendances.SingleOrDefault(a => a.Date.Date == DateTime.Now.Date);
                if (student.Atendances != null)
                {

                    if (attendance == null)
                    {
                        
                    }
                    else if (attendance.Present)
                    {
                        Presence = "Present";
                    }
                    else
                    {
                        Presence = "Absent";
                    }
                }
                <tr>
                    <td><a asp-controller="Students" asp-action="Details" asp-route-id="@student.Id">@student.FullName</a></td>
                    <td>@Presence</td>
                </tr>
            }

        </table>
    </div>
</div>