@model School.Models.ViewModels.ClassDetailsViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 id="test"></h1>
<h1 class="text-center">@Model.Class.Name</h1>
<div class="row">
    <div class="row justify-content-around col-md-8 mb-2">
        <div class="col-4">
            <div class="m-1 jumbotron2 bg-white class-details-item">
                <p>@Model.Class.Teacher.FullName</p>
                <p>Teacher</p>
            </div>
        </div>
        <div class="col-4">
            <div class="m-1 jumbotron2 bg-white class-details-item">
                <h1>@Model.NumberOfStudents</h1>
                <p>Numer of students</p>
            </div>
        </div>
        <div class="col-4">
            <div class="m-1 jumbotron2 bg-white class-details-item ">
                <h1 class="font-weight-bold ">@Model.AverageAge</h1>
                <p>Average Age</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 student-side">
        <h2>Students</h2>
        <table class="table table-stripped table-hover table-bordered" id="students">
            <tr id="head">
                <th>Student Name</th>
                <th>Attendance</th>
            </tr>
            @foreach (var student in Model.Students)
            {
                <tr studentid="@student.Id">
                    <td><a asp-controller="Students" asp-action="Details" asp-route-id="@student.Id">@student.FullName</a></td>
                    <td></td>
                </tr>
            }

        </table>
    </div>
    <div class="col-12 col-md-6 student-side">
        <h2>Take attendance</h2>
        <table class="table table-borderless" id="attendance">
            @foreach (var student in Model.StudentsWithoutAttendance)
            {
            <tr>
                <td>@student.FullName</td>
                <td><input type="checkbox" name="presence" /></td>
                <td class="save" studentId="@student.Id"><button class="btn btn-primary">Save</button></td>
            </tr>
            }
        </table>
    </div>
</div>

@section scripts{
    <script>
        const loadAttendance = function () {
            const trs = document.querySelectorAll('#students tr');
            $('#test').innerHTML = location.hostname;
            trs.forEach((tr) => {
                if (tr.id == 'head') return;
                const id = tr.getAttribute('studentid');

                $.ajax({
                    method: 'GET',
                    url: location.origin + '/api/attendances/getattendancetoday/' + id,
                    statusCode: {
                        "200": function (data, textStatus, jqXHR) {
                            if (data.present) 
                                tr.children[1].innerHTML = 'Present';
                            else
                                tr.children[1].innerHTML = 'Absent';
                        },
                        "204": function (data, textStatus, jqXHR) {
                            tr.children[1].innerHTML = 'No attendance taken';
                        }
                    }
                });
            });
        };
        $(function () {
            loadAttendance();
        });
        //take attendance
        $('#attendance').on('click', '.save', function (event) {
            const current = this;
            let presence = this.previousElementSibling.children[0].checked;
            data = {
                "studentId": current.getAttribute('studentId'),
                "present": presence,
                "date": new Date().toDateString()
            };
            $.ajax({
                'method': 'POST',
                'contentType': 'application/json',
                'url': location.origin + '/api/attendances/postattendance',
                'dataType': 'json',
                'data': JSON.stringify(data),
                statusCode: {
                    "201": function () {
                        let tr = current.parentNode;
                        tr.parentNode.removeChild(tr);
                    }
                }

            });


            loadAttendance();
        })
    </script>
} 